<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMiJHFQVbwid2PNW4BVBAsV7hVDr1Yrjg</string>
	<key>GCM_SENDER_ID</key>
	<string>123914383618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.DodoVers1</string>
	<key>PROJECT_ID</key>
	<string>dodovers1</string>
	<key>STORAGE_BUCKET</key>
	<string>dodovers1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123914383618:ios:a4f27a3b8c8ab8e124921b</string>
</dict>
</plist>